/*== Globals Overrides ==*/


/*== Global DOM Elements ==*/
h1,p {color:#333}
a, a:visited{text-decoration:none; font-weight:600; color:#111144;}
a:hover{text-decoration:underline;}
li a{display:block;}
ul{margin:0;}

/* Rails Partials */
#error_messages{background:#ffdddd; color:#fff; color:#f00; margin-bottom:20px;}
#error_messages h5{padding:5px; background:#f00; color:#fff;}
#error_messages ul{padding:10px; list-style: square inside;}
.field_with_errors label{background:#f00; color:#fff;}
.field_with_errors input{background:#ffaaaa;}

.flash.success{padding:10px; background:#cfa; border:1px #005500 solid; color:#005500}
.flash.error{padding:10px; background:#fca; border:1px #550000 solid; color:#550000}
.flash.notice{padding:10px; background:#ff9; border:1px #f90 solid; color:#f90}

/*== GCDS Custom Elements ==*/
.field{margin-bottom:10px;}


/*- Buttons -*/
.btn {font-size:1.2em; color:#fff; display:inline-block; background:#3d4557; padding:10px; text-shadow:1px 1px 1px #000; -moz-border-radius:.5em;}
.btn:visited{color:#fff;}

/*- Fonts -*/
@font-face {font-family: 'Harabara'; src: url('/assets/fonts/harabara.ttf') format('truetype');}

/*== Layouts ==*/
#container{overflow:hidden;}
#header_bg{height:80px; width:100%; background:#3d4557; position:absolute; z-index:1;}


/*- Header -*/
header{padding:0px 0; height:80px; color:#fff; position:relative; z-index:2; clear:both; overflow:hidden;}
header #logo h1 a{color:#fff; font-size: 4em; line-height:1em; font-family: Harabara, Halvetica, Arial;}
header #login{margin-top:20px; text-align: center;}
header #login a{color:#fff;}
header #login a:hover{text-decoration:underline;}

/*- Top Bar -*/
#top_bar{border-bottom:1px #eee solid; clear:both; margin-bottom:20px; padding:10px 0;}
#top_bar .title{float:left; color:#444; padding-top:5px;}
#main_nav {float:right; margin:0;}
#main_nav li{float:left; margin-left:10px;}
#main_nav li a{padding:5px 10px; background:#d4d9e5;}
#member_nav{float:right; display:inline_block; margin:0;}
#member_nav li{float:left; margin-right:10px;}
#member_nav li a{padding:5px 10px; background:#bbff55;}

/*- Main Body -*/
#content{margin-bottom:20px;}
#content .gravatar{padding:3px; border:1px #eee solid; float:left; margin-right:10px;}

/* Body */
#content #body h1{padding-bottom:10px;}

#content #users_list{list-style: none;}
#content #users_list li{margin-bottom:10px; padding-bottom:10px; border-bottom:1px #eee dashed; overflow:hidden; clear:both;}
#content #users_list li div{float:left;}
#content #users_list li div a{display:inline-block;}

/* Sidebars */
#user_sidebar{background:#eee;}
#user_sidebar div{border-left:1px solid #ccc; display:inline-block; padding:10px;}

/*- Footer -*/
footer{}
footer ul{padding:0 10px; overflow:hidden; background:#d4d9e5; clear:both;}
footer ul li{float:left;}
footer ul li a{padding:5px; color:#8790a4;}
footer ul li a:hover{color:#222;}