<p>
  <strong>Welcome</strong>
  to spitter, the new and improved Twitter that takes your socialising to the next level!
  <%= link_to "Find Out More" %>
</p>
<%= link_to "Sign Up Now!", new_user_path, {:class => "btn", :id => "sign_up"} %>