<% if @user.errors.any? %>
  <div id="error_messages">
    <h5><%= pluralize(@user.errors.count, 'error')%> prohibited this user from being saved:</h5>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>